@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,700;1,400&display=swap');

:root {
    --ff-primary: 'Josefin Sans', sans-serif;
    --clr-primary-100: hsl(220, 98%, 61%);
    scrollbar-color: red;
}

/* --CSS Resets ----*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html {
    font-family: var(--ff-primary);
    font-weight: 400;
    /* min-height: 100vh; */
    height: 100%;
}

body,
#root,
.bg {
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
}


input {
    background-color: inherit;
    font: inherit;
    color: inherit;
}

input:focus {
    outline: 0;
}

/* --------------------------------- */
/* ----Utility Classes --- */
/* ------------------------------- */
.flex {
    display: flex;
    gap: var(--gap);
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.pos-rel {
    position: relative;
}

.sr-only {
    clip-path: rect(0%);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

.uppercase {
    text-transform: uppercase;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 00;
}

.checkbox--checked::before {
    content: url('/icon-check.svg');
    position: absolute;
    height: fit-content;
    right: 16%;
    bottom: -4%;
}

.completed {
    text-decoration: line-through;
}

/* ---------------------------- */
/*  Components styling*/
/* -------------------------- */
#inputBox {
    width: 50%;
}


.bg__header {
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    margin-inline: auto;
    background-color: transparent;
    margin-block-start: -10rem;
    padding-inline: 2em;
}

.container__header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container__theme-btn {
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.todo {
    flex-direction: column;
    width: 100%;
    background-color: transparent;
}

.todo__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color: inherit;
}



.todo__item {
    width: inherit;
    padding-block: 1em;
    padding-inline: 1.5em;
    font-size: 1.125rem;
    cursor: pointer;
}

.todo__footer {
    padding-block: .6em;
    padding-inline: 1.5em;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.todo__options {
    width: inherit;
    background-color: inherit;
    justify-content: center;
    /* font-weight: 400; */
    font-weight: 700;

}

.todo__list {
    border-radius: 10px;
    /* overflow-y: scroll; */
}

.todo__list-box {
    overflow-y: auto;
    max-height: 15rem;
}

.todo__list-box::-webkit-scrollbar {
    width: .4em;
    
}

.todo__list-box::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    position: absolute;
    /* right: 20%; */
    border-top-right-radius: 5px;
    /* padding-right: 10px; */
    /* border-radius: 100vw; */
    /* margin-block: .1rem; */
    background-color: hsla(187, 11%, 53%, 0.979);
}

.todo__list-box::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: hsla(0, 23%, 6%, 0.781);
    /* height: 50px; */
}

.todo__list .todo__item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.todo__option {
    cursor: pointer;
}

.todo__delete-button {
    background-color: transparent;
    margin-left: auto;
    background-image: url('/icon-cross.svg');
    background-repeat: no-repeat;
    width: 18px;
    cursor: pointer;
    display: none;
}

.todo__item:hover .todo__delete-button {
    display: block;
}

.todo__item {
    animation-name: fade-out;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
    animation-play-state: paused;   
}

.hide-todo-item {
    display: none;
}

.option-clicked {
    color: var(--clr-primary-100);
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}



@media (max-width:600px) {
    .todo__options {
        position: absolute;
        top: 130%;
        left: 0;
        right: 0;
        padding: inherit;
        border-radius: 5px;
    }

    .container__footer {
        margin-block-start: 3rem;
    }

    .todo__delete-button {
        display: inline-block;
    }
}